<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer Template</title>
</head>
<body>
	<footer id="fragmentTag"> 
			<div class="container"  th:fragment="footer1">
			<h1>sojib is a good boy</h1>
			<h2>Sojib template has footer</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis repudiandae officia quaerat quisquam molestiae rerum molestias qui ex ullam corporis rem dolorum sit porro aliquid laboriosam ducimus neque itaque deserunt!
			</p>
			
			</div>
	</footer>
	
</body>
</html>